* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;;
}

:root {
    --el-color: #333333;
}

h1,h2,h3,h3,a,p {
    color:var(--el-color)
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

h3 {
    font-weight: 600;

}

p {
    font-weight: 300;
}

.margin-top {
    margin-top: 150px;
}

.margin-bottom {
    margin-bottom: 100px;
}

.container {
    width: 70%;
    margin: auto;
}

nav {
    height: 100px;
}

nav h2 {
    float: left;
    display: inline;
    line-height: 100px;
}

nav ul {
    float: right;
    line-height: 100px;
}

nav ul li {
    display: inline-block;
    margin: 0 25px;
}

nav ul li a {
    text-transform: uppercase;
}

.active{
    background-color: rgba(255, 211, 18, 0.993);
    border-radius: 20px;
    padding: 7px 25px;
    color: white;
}

section.showcase{
    float: left;
}